@{
    ViewBag.Title = "About FPT Learning";
}
<h2>@ViewBag.Title </h2>
 
 <hr />

<p>
    Technology is developing like a storm nowadays, FPT Company wishes to build a continuous learning environment in the whole corporation. This is the "Training" activity management system for the company's internal training program. This system can be used to manage student accounts, manage instructors, manage course catalogs, manage courses, manage topics, assign topics to courses, assign instructors according to topics, assign instructors to the course.
    
</p>
<p>
    This is a system used by the human resources department. We have four roles in this system, administrator, training officer, coach and trainee.
</p>
<style>
    h2 {
        text-align: center;
    }
    p {
        width: 50%;
        text-align:justify;
        margin-top:30px;
        margin-left:auto;
        margin-right:auto;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:19px;
    }
</style>